
body {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

.masthead {
  display: table;
  width: 100%;
  height: 800px;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/girlout.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.select2-results {
  color:black;
}

.search-btn {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.search-row {
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.select2-default {
  color: black !important;
}

.locations {
	margin-top: 100px;
}


.find-more-btn {
  background-color: black;
  color: #42DCA3;
  border-color: #42DCA3;
}

.paginate-btn {
  background-color: black;
  color: #42DCA3;
  text-decoration: none;
}

.find-more-btn:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

.paginate-btn:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
  text-decoration: none;;
}

.card-title {
  font-family: 'Gugi', cursive;
}

.card-footer {
  background-color: black;
  border-color: #42DCA3;
  color: #42DCA3;
}

.card {
  border-color: black;
  background-color: black;
  color: white;
}


.navigation {
  background-color: black;
  position: fixed;
}

/*Rating system*/

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: grey;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #42DCA3;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #42DCA3;
  text-shadow: 0 0 5px #09f;
}

/*//////////////////////////////////////////////////////////////*/

.slideshow-row {
  text-align: center;
  margin-top: 30px;
}

.slideshow {
  margin-top: 50px;
}

.top-rated-name {
  margin-top: 10px;
}
#slideshow {
  position: relative;
  margin: auto;
}

#slideshow > div {
  position: absolute;
  left: 0;
  right: 0;

}

/*.location-image {
  width: 150px;
    height: 150px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    margin-right: -50px;
    background-size: cover;
    background-position: center center;
}*/

.pagination {
  text-align: center;
}

.brand-heading {
  font-family: 'Gugi', cursive;
}

.avatar {
  width: 50px;
    height: 50px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
}

.profile {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.description-grid {
  border-left: 2px solid;
  border-color: #42DCA3;
}

.location-name {
  font-size: 54px;
  padding-right: 200px;
  font-family: 'Gugi', cursive;
}

.location-row {
  text-align: center;
}


.panel-heading {
  text-align: center;
  vertical-align: top;

  
}

.comment-body {
  border-bottom: 2px solid;
  border-color: #42DCA3;
  padding-left: 10px;
}

.panel-body > a {
  text-decoration: none;
  color:#42DCA3;
  font-size: 20px;

}

.panel-body > a:hover {
  border-bottom: 1px solid #42DCA3;
}

.comment-panel {
  margin-bottom: 70px;
}

.nav-item {
  margin-right: 10px;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Black Han Sans', sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #42DCA3;
}

.nav-pills {
  margin-top: 20px;
}

.accept-invite-btn {
  text-align: center;
}

.notifications {
  padding-bottom: 20px;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #42DCA3;
}

@media only screen and (max-width: 768px) {
  .description-grid {
    margin-top: 50px;
    border-left: none;
    border-top: 2px solid;
    border-color: #42DCA3;
  }
}